* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/wood.jpg');
  background-size: cover;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #977676;
  font-size: 20px;
}

button {
  display: block;
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 20px;
  width: 150px;

  &:hover {
    color: white;
    background-color: #48ad4c;
    width: 150px;
  }
}

iframe {
  background-color: white;
  width: 1200px;
  height: 706px;
  border: 0;
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

h1 {
  font-style: italic;
  color: rgb(54, 54, 54);
  line-height: 1;
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-areas: ". left right .";
  grid-template-columns: 1fr 9fr 7fr 1fr;

  .grid1 {
    grid-area: left;
    width: 620px;
    height: 492px;
    padding: 0;
    overflow: hidden;
  }

  .grid2 {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 2.5;
    font-size: 20px;
  }
}

.linkFlex {
  display: flex;
  justify-content: space-evenly
}

.italic {
  font-style: italic;
  line-height: 1.5;
}