Options -Multiviews
RewriteEngine On

RewriteBase /first_mvc/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.php$ 

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
